@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.woff2') format('woff2'),
        url('../fonts/Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Light.woff2') format('woff2'),
        url('../fonts/Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Thin.woff2') format('woff2'),
        url('../fonts/Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "enthucate";
    src: url("../fonts/enthucate.eot");
    src: url("../fonts/enthucate.eot?#iefix") format("embedded-opentype"),
        url("../fonts/enthucate.woff") format("woff"),
        url("../fonts/enthucate.ttf") format("truetype"),
        url("../fonts/enthucate.svg#enthucate") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "enthucate" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "enthucate" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-1:before {
    content: "\61";
}

.icon-icon-2:before {
    content: "\62";
}

.icon-icon-3:before {
    content: "\63";
}

.icon-icon-4:before {
    content: "\64";
}

.icon-icon-5:before {
    content: "\65";
}

.icon-icon-6:before {
    content: "\66";
}

.icon-icon-8:before {
    content: "\67";
}

.icon-icon-9:before {
    content: "\68";
}
  

body {
    font-family: 'Inter';
}

.container {
    max-width: 1266px;
}

img {
    max-width: 100%;
}
.mobile-menu-btn, .mobile-logo {
    display: none;
}
.button {
    min-height: 52px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    background: #FF6501;
    border: 2px solid #FF6501;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.button:hover {
    background-color: #fff;
    color: #FF6501;
    text-decoration: none;
}

.header-main {
    padding: 19px 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 42px rgba(112, 144, 176, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header-menu ul {
    padding: 0;
    margin: 0;
}

.header-menu li {
    list-style: none;
    margin: 0 25px;
}

.header-menu li a {
    font-weight: 500;
    font-size: 16px;
    color: #959698;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.header-menu li a:hover {
    color: #3B4151;
}

.header-menu li a.active {
    color: #3B4151;
    font-weight: 700;
}

.school-connect-main {
    background: #FF6501;
    padding: 100px 0;
}

.school-connect-title h3 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    font-family: 'Inter';
    margin-bottom: 54px;
}

.school-connect-box {
    background: #FFFFFF;
    box-shadow: 0px 16px 42px rgba(112, 144, 176, 0.15);
    border-radius: 20px;
    padding: 45px;
    text-align: center;
    min-height: 100%;
}

.school-connect-box h4 {
    font-weight: 700;
    font-size: 32px;
    color: #181C29;
    line-height: 40px;
    margin-bottom: 7px;
}

.school-connect-box p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-family: 'Inter';
    color: rgba(0, 0, 0, 0.5);
    line-height: 29px;
}

.box-icon {
    width: 214px;
    height: 214px;
    background: #ffefe9;
    border: 10px solid #ffefe9;
    border-radius: 50%;
    margin: 0 auto 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.school-connect-box:hover .box-icon {
    background-color: #fff;
    border: 10px solid #FF6501;
}

.box-icon>i {
    font-size: 100px;
    line-height: 1;
    color: #FF6501;
    display: flex;
}
.school-connect-box:hover .box-icon>i {

}


.how-it-works-main {
    padding: 100px 0;
}

.how-it-title h3 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    margin-bottom: 58px;
}

.how-it-work-box {
    border: 2px solid #E2E2E2;
    border-radius: 20px;
    padding: 22px 13px;
    text-align: center;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.how-it-work-box:hover {
    border: 2px solid #FF6501;
}

.how-it-work-box span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #FF6501;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.how-it-work-box:hover span {
    width: 225%;
    height: 562.5px;
}

.how-it-work-box h4 {
    font-weight: 300;
    font-size: 64px;
    color: #181C29;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.how-it-work-box p {
    font-weight: 600;
    font-size: 16px;
    color: #808080;
    line-height: 27px;
    margin-bottom: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* .how-it-work-box:hover {
    border: 2px solid #FF6501;
    background: #FF6501;
} */

.how-it-work-box:hover h4,
.how-it-work-box:hover p {
    color: #fff;
}



.how-it-works-main .col-lg-3 {
    margin-bottom: 30px;
}

.our-partners-main {
    background: #FF6501;
    padding: 100px 0;
}

.our-partners-content h3 {
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.our-partners-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.our-partners-logo {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus-main {
    background: #F8F9FA;
    overflow: hidden;
}

.our-partners-main .col-6 {
    margin-bottom: 30px;
}

.contact-form,
.lets-talk-main {
    padding: 100px 80px;
    min-height: 100%;
}

.lets-talk-main {
    background: #3B4151;
    position: relative;
}

.lets-talk-main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    width: 9999px;
    background: #3B4151;
}

.contact-form h3,
.lets-talk-main h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color: #3B4151;
    margin-bottom: 45px;
}

.lets-talk-main h3 {
    color: #fff;
    margin-bottom: 20px;
}

.lets-talk-main p {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.lets-talk-map iframe {
    width: 100%;
    border-radius: 15px;
    height: 240px;
    margin-top: 30px;
}

.contact-info {
    margin-top: 60px;
}

.contact-info h5 {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.contact-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-info ul li {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding-left: 38px;
    position: relative;
    margin-bottom: 25px;
    line-height: 25px;
}

.contact-info ul li i {
    font-weight: normal;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background: #FF6501;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 40px;
}

.form-group label {
    color: #3B4151;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    background: #FEFFFF;
    border: 1px solid #ECEEF0;
    border-radius: 8px;
    height: 56px;
    outline: none;
    outline-color: inherit;
    padding: 0 15px;
}
.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid #FF6501;
}
.form-group textarea {
    height: 120px;
    padding: 15px;
}

.footer-main {
    background: #FF6501;
}

.footer-main p {
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 500;
    padding: 12px 0;
    font-family: 'Inter';
}

.slider-preloader-wrap, .item {
    height: calc(100vh - 90px);
}

.item {
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide-img-text {
    position: absolute;
    top: 45%;
    left: -5%;
    width: 250px;
    height: 250px;
    background: #FF6501;
    border: 10px solid #FF6501;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    z-index: 9;
    margin-top: -150px;
}
.slide-img-text h4{
    font-weight: 700;
    font-size: 50px;
    color: #3B4151;
    margin-bottom: 0;
}
.slide-img-text h5 {
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.slide-img {
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.slide-img {
    width: 50%;
}

.slide-text {
    padding-right: 10%;
}

.slide-table {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slide-tablecell {
    color: #000;
    display: table-cell;
    vertical-align: middle;
}

.slide-tablecell h2 strong {
    color: #fff;
}

.slide-tablecell .slide-btn:hover {
    text-decoration: none;
}
.slide-tablecell .slide-buttons {
    margin-bottom: 30px;
}
.slide-tablecell .slide-btn {
    font-weight: 600;
    font-size: 16px;
    color: #FF6501;
    border: 1px solid #FF6501;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    min-width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.slide-tablecell .slide-btn:hover {
    color: #fff;
}

.slide-tablecell .slide-btn span {
    position: relative;
    z-index: 1;
}

.slide-tablecell .slide-btn:before,
.slide-tablecell .slide-btn:after {
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #FF6501;
    border-radius: 50%;
    z-index: -1;
}

.slide-tablecell .slide-btn:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.slide-tablecell .slide-btn:after {
    right: -20px;
    transform: translate(50%, -50%);
}
.powered-by {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    padding-left: 10%;
}
.powered-by p{
    font-weight: 700;
    font-size: 16px;
    color: #3B4151;
    margin-bottom: 0;
    margin-right: 10px;
}

.owl-carousel .owl-item .powered-by img {
    width: 130px;
    height: 70px;
    object-fit: contain;
}
@keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 250px;
        height: 250px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 250px;
        height: 250px;
    }
}

.slide-tablecell .slide-btn:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
    animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.slide-tablecell .slide-btn:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
    animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.slide-tablecell .slide-btn:last-child {
    margin-right: 0;
}

.slide-tablecell .slide-text>*:nth-child(1) {
    animation-duration: 0.3s;
}

.slide-tablecell .slide-text>*:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.3s;
}

.slide-tablecell .slide-text>*:nth-child(3) {
    animation-duration: 0.3s;
    animation-delay: 0.6s;
}

.slide-tablecell .slide-text>*:nth-child(4) {
    animation-duration: 0.3s;
    animation-delay: 0.9s;
}

.slide-tablecell .slide-text h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 30px;
}

.slide-tablecell .slide-text p {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    color: #181C29;
    margin-bottom: 30px;
    padding-right: 15%;
}

.slide-text ul {
    list-style: none;
    margin: 0 0 40px;
    padding: 0 15% 0 0;
}

.slide-text ul li {
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #3B4151;
    padding-left: 20px;
    position: relative;
}

.slide-text ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 8px;
    height: 8px;
    background: #3B4151;
    border-radius: 50%;
}

.animation-slide .owl-nav div {
    color: #fff;
    font-size: 60px;
    left: 0;
    line-height: 70px;
    margin-top: -35px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.animation-slide .owl-nav div.owl-next {
    left: auto;
    right: 0;
}

.animation-slide:hover .owl-nav div.owl-prev {
    left: 30px;
    opacity: 0.5;
}

.animation-slide:hover .owl-nav div.owl-next {
    right: 30px;
    opacity: 0.5;
}

.animation-slide .owl-dots div {
    background: rgba(255, 101, 1, 0.5);
    display: inline-block;
    height: 16px;
    cursor: pointer;
    margin: 5px 10px;
    width: 16px;
    border-radius: 50%;
}

.animation-slide .owl-dots {
    bottom: 15px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.animation-slide .owl-dots div.active {
    background: #FF6501;
}

.item,
.preloader-wrap {
    background-color: #fff;
}

.slider_images {
    position: absolute;
    padding: 50%;
    margin: auto;
    top: -250px;
    width: 100%;
    max-width: 600px;
    right: -50px;
}

.slider_images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #FF6501;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
